/* Styles for accordion-example only */

html {
  font-size:10px;
}

body {
  font-size:1.6rem;
  margin: 16px;
}

p {
  line-height: 1.5;
  margin:16px 0 0;
}

h1, h2, h3, h4, h5 {
  margin: 24px 0 0;
}

