$accordion-border-color: #e0e0e0;
$accordion-background-color: #f4f4f4;

.accordion > .accordion-toggle {
  background-color: $accordion-background-color;
  border: 1px solid $accordion-border-color;
  cursor: pointer;
  display: block;
  margin: 1em 0 0;
  overflow: hidden;
  padding: 0.75em 1em 0.7em 0;
  text-overflow: ellipsis;
  white-space: nowrap;

  &:before {
    content: '\e5ce';
    display: inline-block;
    font-family: 'Material Icons';
    font-size: 1.2em;
    line-height: 1;
    padding: 0 1em;
    vertical-align: sub;
    transition: transform 0.5s ease;
  }

  &:hover {
    text-decoration: underline;
  }
}

.accordion-content {
  border-bottom: 1px solid $accordion-border-color;
  border-left: 1px solid $accordion-border-color;
  border-right: 1px solid $accordion-border-color;
  padding: 0 1em;
  max-height: 30em;
  overflow: scroll;
  transition: max-height 0.5s cubic-bezier(1, 0, 0, 1);

  > :last-child {
    margin-bottom: 1em;
  }
}

.accordion-closed {

  > .accordion-toggle:before {
    transform: rotate(180deg);
  }

  > .accordion-content {
    border-bottom: 0;
    max-height: 0;
    overflow: hidden;
  }
}

/* Group -- Remove margin between accordion elements */
.accordion-group {
  border-top: 1px solid $accordion-border-color;
  margin: 1em 0;

  > .accordion {
    > .accordion-toggle {
      border-top: none;
      margin: 0;
    }
  }
}

/* Section -- Toggle content */
.accordion-section {
  border: none;
  margin: 1em 0;

  > .accordion-content {
    border: none;
    padding: 0;
  }

  > .accordion-toggle {
    background:none;
    border: none;
    display: inline-block;
    margin: 1em 0 0;
    padding: 0;
    position: relative;

    &:before {
      display: inline-block;
      font-size: 1.2em;
      padding: 0;
      position: static;
      text-align: center;
      width: 2em;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}
