$accordion-border-color: #e0e0e0;
$accordion-background-color: #f4f4f4;

@define-mixin icon $icon {
  font-family: 'Material Icons';
  content: $icon;
}

.accordion > .accordion-toggle {
  background-color: $accordion-background-color;
  border: 1px solid $accordion-border-color;
  cursor: pointer;
  display: block;
  margin: 1em 0 0;
  overflow: hidden;
  padding: 0.75em 16px;
  text-overflow: ellipsis;
  white-space: nowrap;

  &:before {
    display: inline-block;
    padding-right: 16px;
    text-align: center;
    @mixin icon '\e5ce';
    vertical-align: sub;
    font-size: 1.2em;
    line-height: 1;
  }

  &:hover {
    text-decoration: underline;
  }
}

.accordion-content {
  border-bottom: 1px solid $accordion-border-color;
  border-left: 1px solid $accordion-border-color;
  border-right: 1px solid $accordion-border-color;
  padding: 1px 1em 1em;

  > :last-child {
    margin-bottom: 0;
  }
}

.accordion-closed {

  > .accordion-toggle:before {
      @mixin icon '\e5cf';
  }

  > .accordion-content {
    display: none;
  }
}

/* Group -- Remove margin between accordion elements */
.accordion-group {
  margin: 1em 0;
  border-top: 1px solid $accordion-border-color;

  > .accordion {
    > .accordion-toggle {
      border-top: none;
      margin: 0;
    }
  }
}

/* Section -- Toggle content */
.accordion-section {
  border: none;
  margin: 1em 0;

  > .accordion-content {
    border: none;
    padding: 0;
  }

  > .accordion-toggle {
    background:none;
    border: none;
    display: inline-block;
    margin: 1em 0 0;
    padding: 0;
    position: relative;

    &:before {
      display: inline-block;
      font-size: 1.2em;
      padding: 0;
      position: static;
      text-align: left;
      width: 1.5em;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}
