$accordion-border-color:rgb(226,226,226) !default;

@mixin icon ($icon) {
  content:$icon;
}

/* Base -- Base accordion styles */
.accordion {
  position:relative;
  display:block;
  margin:0;
  padding:0;
  border-left:1px solid $accordion-border-color;
  border-right:1px solid $accordion-border-color;

  > .accordion-toggle {
    display:block;
    position:relative;
    padding:.6em 1.5rem .6em 2em;
    border-top:1px solid $accordion-border-color;
    border-bottom:1px solid $accordion-border-color;
    cursor:pointer;
    background-color:rgba(0,0,0,0.02);

    &:before {
      position:absolute;
      left: 1rem;
      top: .5em;
      width:1em; // allows easier control of icon
      text-align: center;
      opacity: 0.5; // lighten the caret
      font-family: monospace;
      @include icon('-');
    }

    &:hover {
      text-decoration:underline;
    }
  }

  > .accordion-content {
    padding:0 1em 1em;
    border-bottom:1px solid $accordion-border-color;
  }
}

.accordion-closed {

  > .accordion-toggle {

    &:before {
      @include icon('+');
    }
  }

  > .accordion-content {
    display:none;
  }
}

/* Group -- Remove margin between accordion elements */
.accordion-group {
  margin:1rem 0;
  border-top:1px solid $accordion-border-color;

  > .accordion {
    > .accordion-toggle {
      margin:0;
      border-top:none;
    }
  }
}

/* Section -- Toggle content */
.accordion-section {
  margin:1rem 0;
  border:none;

  > .accordion-content {
    padding:0;
    border:none;
  }

  > .accordion-toggle {
    display: inline-block;
    position: relative;
    margin: 1em 0 0;
    padding:0;
    border: none;
    background:none;

    &:before {
      position: static;
      display: inline-block;
      font-size: 16px;
      width: 1em;
      text-align:left;
    }

    &:hover {
      text-decoration:underline;
      background:none;
    }
  }
}
