$accordion-border-color:rgba(0,0,0,0.1);

@define-mixin icon $icon {
  font-family: 'Material Icons';
  content: $icon;
}

/* Base -- Base accordion styles */
.accordion {
  display: flex;
  flex-direction: column;

  > .accordion-toggle {
    background-color: rgba(0,0,0,0.05);
    border: 1px solid $accordion-border-color;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 16px;

    &:before {
      text-align: center;
      flex: none;
      align-self: center;
      padding-right: 16px;
      @mixin icon '\e5ce';
    }

    &:hover {
      text-decoration: underline;
    }
  }

  > .accordion-content {
    padding: 0 1em 1em;
    border-bottom: 1px solid $accordion-border-color;
    border-left: 1px solid $accordion-border-color;
    border-right: 1px solid $accordion-border-color;
    flex: 1;
  }
}

.accordion-closed {

  > .accordion-toggle {

    &:before {
      @mixin icon '\e5cf';
    }
  }

  > .accordion-content {
    display: none;
  }
}

/* Group -- Remove margin between accordion elements */
.accordion-group {
  margin: 1em 0;
  border-top: 1px solid $accordion-border-color;

  > .accordion {
    > .accordion-toggle {
      margin: 0;
      border-top: none;
    }
  }
}

/* Section -- Toggle content */
.accordion-section {
  margin: 1em 0;
  border: none;

  > .accordion-content {
    padding: 0;
    border: none;
  }

  > .accordion-toggle {
    display: inline-block;
    position: relative;
    margin: 1em 0 0;
    padding:0;
    border: none;
    background:none;

    &:before {
      position: static;
      display: inline-block;
      font-size: 16px;
      width: 1em;
      text-align:left;
      padding: 0;
    }

    &:hover {
      text-decoration: underline;
      background: none;
    }
  }
}
