/* line 3, ../../example/index.scss */
.example-style {
  border: 1px solid #e5e5e5;
  background-color: #fcfcfc;
  padding: 0 1rem;
  min-height: 3rem;
}

/* line 10, ../../example/index.scss */
html {
  font-size: 10px;
}

/* line 14, ../../example/index.scss */
body {
  font-size: 1.6rem;
}

/* line 18, ../../example/index.scss */
p {
  line-height: 1.6;
  margin: 16px 0 0;
}

/* line 23, ../../example/index.scss */
h1, h2, h3, h4, h5 {
  margin: 24px 0 0;
}

/* line 27, ../../example/index.scss */
.accordion {
  color: #444;
}
