@charset "UTF-8";
/* Base -- Base accordion styles */
/* line 8, ../../src/accordion.scss */
.accordion {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  border-left: 1px solid #e2e2e2;
  border-right: 1px solid #e2e2e2;
}
/* line 16, ../../src/accordion.scss */
.accordion > .accordion-toggle {
  display: block;
  position: relative;
  padding: 0.6em 3.5rem 0.6em 1.5rem;
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.02);
}
/* line 25, ../../src/accordion.scss */
.accordion > .accordion-toggle:before {
  position: absolute;
  right: 1.5rem;
  width: 1em;
  text-align: center;
  opacity: 0.5;
  content: "▾";
}
/* line 34, ../../src/accordion.scss */
.accordion > .accordion-toggle:hover {
  text-decoration: underline;
}
/* line 39, ../../src/accordion.scss */
.accordion > .accordion-content {
  padding: 0 1em 1em;
  border-bottom: 1px solid #e2e2e2;
}

/* line 49, ../../src/accordion.scss */
.accordion-closed > .accordion-toggle:before {
  content: "▸";
}
/* line 54, ../../src/accordion.scss */
.accordion-closed > .accordion-content {
  display: none;
}

/* Group -- Remove margin between accordion elements */
/* line 60, ../../src/accordion.scss */
.accordion-group {
  margin: 1rem 0;
  border-top: 1px solid #e2e2e2;
}
/* line 65, ../../src/accordion.scss */
.accordion-group > .accordion > .accordion-toggle {
  margin: 0;
  border-top: none;
}

/* Section -- Toggle content */
/* line 73, ../../src/accordion.scss */
.accordion-section {
  margin: 1rem 0;
  border: none;
}
/* line 77, ../../src/accordion.scss */
.accordion-section > .accordion-content {
  padding: 0;
  border: none;
}
/* line 82, ../../src/accordion.scss */
.accordion-section > .accordion-toggle {
  display: inline-block;
  position: relative;
  margin: 1em 0 0;
  padding: 0;
  border: none;
  background: none;
}
/* line 90, ../../src/accordion.scss */
.accordion-section > .accordion-toggle:before {
  position: static;
  display: inline-block;
  font-size: 16px;
  width: 1em;
  text-align: left;
}
/* line 98, ../../src/accordion.scss */
.accordion-section > .accordion-toggle:hover {
  text-decoration: underline;
  background: none;
}
